/* departments.css */

/* departments.css */

/* Header */
.navContainer {
    
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navItems h1 {
    margin: 0;
}

.navItems a {
    color: #fff;
    text-decoration: none;
}

/* Page Header */
.departmentsPageHeader {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.departmentsPageHeader h1 {
    color: #333;
    margin: 0;
}

.departmentsPageHeader p {
    color: #666;
}

/* Payment Details Section */
.paymentDetails {
    background-color: #b6cf8476;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.paymentMethods,
.paymentDeadlines,
.paymentPortal {
    flex: 0 0 30%; /* Adjust the width of each section as needed */
}

.paymentMethods h2,
.paymentDeadlines h2,
.paymentPortal h2 {
    color: #333;
}

.paymentMethods ul {
    list-style-type: none;
    padding: 0;
}

.paymentMethods ul li {
    color: yellowgreen;
}

.paymentPortal .btn {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

.paymentPortal .btn:hover {
    background-color: #555;
}


.container {
    background-color: #e8b0b02c;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 70%;
    padding: 8px;
    border: 1px solid #cccccc59;
    border-radius: 4px;
}

button {
    background-color: #0ead65;
    color: rgb(42, 10, 10);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
}