body {
    background-image: url(/images/siteimage1.jpeg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    background-color: #a2a7a5;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.phone-box {
    background-color: #f0f0f00c;
    padding: 10px;
    border: 1px solid #cccccc16;
    border-radius: 5px;
    width: 200px;
}

.footerContainer {
    width: 100%;
    background-color: #cccccc;
    padding: 10px 0;
}

.footerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerItem h1 {
    margin: 5px 0;
}

.footerItem h1:nth-child(3) a {
    color: orange;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer p {
    margin-top: 20px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.signin {
    text-align: center;
    margin-bottom: 20px;
}

.signin a {
    color: #007bff;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
